@font-face {
  font-family: 'hlxico';
  src:
    url('fonts/hlxico.ttf?pqr1fa') format('truetype'),
    url('fonts/hlxico.woff?pqr1fa') format('woff'),
    url('fonts/hlxico.svg?pqr1fa#hlxico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hi-"], [class*=" hi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hlxico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-envelope-o:before {
  content: "\e931";
}
.hi-envelope-o1:before {
  content: "\e932";
}
.hi-icon-filter:before {
  content: "\e919";
}
.hi-person:before {
  content: "\e928";
}
.hi-delete:before {
  content: "\e912";
}
.hi-hide:before {
  content: "\e927";
}
.hi-upload-cloud:before {
  content: "\e900";
}
.hi-text-file:before {
  content: "\e901";
}
.hi-star:before {
  content: "\e902";
}
.hi-exclamation:before {
  content: "\e903";
}
.hi-plus-fill:before {
  content: "\e904";
}
.hi-feedback:before {
  content: "\e905";
}
.hi-download-file:before {
  content: "\e906";
}
.hi-view:before {
  content: "\e907";
}
.hi-unfold-more:before {
  content: "\e908";
}
.hi-thumb:before {
  content: "\e909";
}
.hi-square-menu:before {
  content: "\e90a";
}
.hi-square-menu-fill:before {
  content: "\e90b";
}
.hi-round-check:before {
  content: "\e90c";
}
.hi-reset:before {
  content: "\e90d";
}
.hi-pfizer:before {
  content: "\e90e";
  color: #fff;
}
.hi-magnifier:before {
  content: "\e90f";
}
.hi-info:before {
  content: "\e910";
}
.hi-file:before {
  content: "\e911";
}
.hi-estimate:before {
  content: "\e913";
}
.hi-edit:before {
  content: "\e914";
}
.hi-download:before {
  content: "\e915";
}
.hi-dots-vertical:before {
  content: "\e916";
}
.hi-dots-horizontal:before {
  content: "\e917";
}
.hi-diagram:before {
  content: "\e918";
}
.hi-close:before {
  content: "\e91a";
}
.hi-cancel:before {
  content: "\e91b";
}
.hi-calendar:before {
  content: "\e91c";
}
.hi-bell:before {
  content: "\e91d";
}
.hi-arrow-up:before {
  content: "\e91e";
}
.hi-arrow-up-down:before {
  content: "\e91f";
}
.hi-arrow-right:before {
  content: "\e920";
}
.hi-arrow-left:before {
  content: "\e921";
}
.hi-arrow-down:before {
  content: "\e922";
}
.hi-angle-right:before {
  content: "\e923";
}
.hi-angle-left:before {
  content: "\e924";
}
.hi-angle-dropdown:before {
  content: "\e925";
}
.hi-angle-down:before {
  content: "\e926";
}
.hi-github:before {
  content: "\e934";
}
.hi-icon-plus:before {
  content: "\e933";
}
.hi-icon-crossmark:before {
  content: "\e935";
}
.hi-icon-tooltip:before {
  content: "\e930";
}
.hi-icon-storyline:before {
  content: "\e929";
}
.hi-icon-interactive:before {
  content: "\e92a";
}
.hi-icon-h5p:before {
  content: "\e92b";
}
.hi-icon-excel:before {
  content: "\e92c";
}
.hi-icon-custom-html-statista:before {
  content: "\e92d";
}
.hi-icon-custom-html-abe:before {
  content: "\e92e";
}
.hi-icon-3d-vista:before {
  content: "\e92f";
}
.hi-icon-lock-close:before {
  content: "\e936";
}
.hi-icon-popup-info:before {
  content: "\e937";
}
.hi-icon-success:before {
  content: "\e938";
}
.hi-icon-upload:before {
  content: "\e939";
}
.hi-icon-folder:before {
  content: "\e93a";
}
.hi-icon-search:before {
  content: "\e93b";
}
.hi-icon-help:before {
  content: "\e93c";
}
.hi-icon-user:before {
  content: "\e93d";
}
.hi-icon-user-management:before {
  content: "\e93e";
}
.hi-icon-user-edit:before {
  content: "\e93f";
}
.hi-icon-unpublish:before {
  content: "\e940";
}
.hi-icon-un-subscribe:before {
  content: "\e941";
}
.hi-icon-trash:before {
  content: "\e942";
}
.hi-icon-tools:before {
  content: "\e943";
}
.hi-icon-subscription:before {
  content: "\e944";
}
.hi-icon-subscribe:before {
  content: "\e945";
}
.hi-icon-square:before {
  content: "\e946";
}
.hi-icon-share:before {
  content: "\e947";
}
.hi-icon-published:before {
  content: "\e948";
}
.hi-icon-reset:before {
  content: "\e949";
}
.hi-icon-selected:before {
  content: "\e94a";
}
.hi-icon-link:before {
  content: "\e94b";
}
.hi-icon-move:before {
  content: "\e94c";
}
.hi-icon-permission:before {
  content: "\e94d";
}
.hi-icon-history:before {
  content: "\e94e";
}
.hi-icon-info-inverted:before {
  content: "\e94f";
}
.hi-icon-info:before {
  content: "\e950";
}
.hi-icon-double-arrows:before {
  content: "\e951";
}
.hi-icon-download:before {
  content: "\e952";
}
.hi-icon-edit:before {
  content: "\e953";
}
.hi-icon-export:before {
  content: "\e954";
}
.hi-icon-file:before {
  content: "\e955";
}
.hi-icon-filter1:before {
  content: "\e956";
}
.hi-icon-arrow-close:before {
  content: "\e957";
}
.hi-icon-arrow-small:before {
  content: "\e958";
}
.hi-icon-arrow:before {
  content: "\e959";
}
.hi-icon-audit-log:before {
  content: "\e95a";
}
.hi-icon-backup:before {
  content: "\e95b";
}
.hi-icon-calender:before {
  content: "\e95c";
}
.hi-icon-checkmark:before {
  content: "\e95d";
}
.hi-icon-copy:before {
  content: "\e95e";
}
